@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");

.Searchfoodbycalories {
  font-family: "Nunito", sans-serif;
  background-color: #57754b;
  min-height: 100vh;
}

.namesearch {
  align-items: center;
  color: white;
}

.Searchfoodbycalories {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0 1rem 0;
}

.control {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #888;
  background: #f9f9fe;
  border: 0px;
}

.control::placeholder {
  font-family: "Nunito", sans-serif;
}

.buttonsearchcalories {
  padding: 0.5rem 1rem;
  background-color: #f3f3f3;
  color: #57754b;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

.buttonsearchcalories:hover {
  cursor: pointer;
  background-color: #7aa36a;
}

.mainsearch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.nutrients {
  background-color: #f3f3f3;
  color: #57754b;
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.nutrients h1 {
  margin-bottom: 1rem;
}

.nutrients ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nutrients li {
  flex-basis: 50%;
  margin-bottom: 0.5rem;
}

.instruction {
  list-style: none;
  text-align: center;
  margin-bottom: 0.5rem;
}

.meals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.gambarimg {
  width: 100%;
  margin-bottom: 1rem;
}

.articlecalories {
  border-radius: 15px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 18rem;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
  margin-bottom: 1rem;
}

.instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 550px) {
  .meals {
    flex-direction: column;
    align-items: center;
  }

  .nutrients ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .nutrients {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
